<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356140900885-ujq667slevo675sid42gc8cghdhd1feu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356140900885-ujq667slevo675sid42gc8cghdhd1feu</string>
	<key>API_KEY</key>
	<string>AIzaSyAQNCB7-_dTE_36i41TJBNlA5HhtO8BbRA</string>
	<key>GCM_SENDER_ID</key>
	<string>356140900885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driverApp</string>
	<key>PROJECT_ID</key>
	<string>driverapp-3507a</string>
	<key>STORAGE_BUCKET</key>
	<string>driverapp-3507a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356140900885:ios:c4681d94fd9656f3c4e41c</string>
</dict>
</plist>